html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
    background-color: #ffff;
}



.navigationBar {
    width: 100%;
    height: 120px;
    top: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block!important;
    float: right;

    list-style-type: none;
    background-color: #ffff;
    margin: 0px;
    padding: 0px;
}



.intro {
    text-align: center;
    padding: 0px;
    color:rgb(34, 18, 185);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro-inv {
    background-color: #ffff;
    transform: translate3d(650px, -450px, 0px);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 24px;
}

.intro-input {
    text-align: left;
    display: block;
}

.intro-input-column {
    float: left;
    width: 50%;
}

.welcome {
    background-color: #ffff;
    text-align: center;
    font-size: 40px;
    display: inline-block;
    transform: translate3d(-235px, -25px, 0px);
}

.intro p {
    color: black;
}

.intro a {
    font-size: 40px;
    color: rgb(34, 18, 185);
}

.intro a:hover{text-decoration: underline; color:rgb(31, 18, 139)}




.video-intro {
    text-align: center;
    background-color: rgb(138, 125, 255);
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;
}

.video-intro h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 60px;
}

.video-intro h2 {
    font-size: 40px;
}

.column-left {
    float: left;
    width: 64%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.column-left p {
    font-size: 30px;
    margin-bottom: 30px;
}

.column-right {
    float: left;
    width: 30%;
    text-align: center;
}

.pageContent {
    background-color: #ffff;
    margin: 5px;
}



.pageFooter {
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    background-color: #ffff;
    color: #919191;
    margin-bottom: 20px;
}

li {
    display: inline;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px;
}
a:hover {color: blueviolet;}


/*Buttons*/
.dropbtn {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: blueviolet;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: blueviolet;}


/*DONATE button*/
.donButton {
    background-color: rgb(190, 16, 16);
    border-radius: 8px;
    padding: 8px;
    display: inline;
}

.donButton a {
    color: #ffff;
}

.donButton:hover {
    background-color:rgb(218, 16, 16);
}



/*Join Button in intro*/
.intro-Button {
    background-color: rgb(34, 18, 185);
    padding: 8px;
    color: #ffff;
    display: inline-block;
    border: none;
}

.intro-Button a {
    color: #ffff;
}

.intro-Button:hover {
    background-color: rgb(34, 18, 185);
}



/*More About Weldin button*/
.mButton {
    background-color: rgb(34, 18, 185);
    color: #ffff;
    display: inline-block;
    padding: 10px;
}

.mButton a {
    color: #ffff;
    font-size: 30px;
    margin: 5px;
}

.mButton:hover {
    background-color: rgb(31, 18, 139);
}